<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: gray;
  font-family: verdana;
  font-size: 150%;

}
p  {
  color: Black;
  font-family: courier;
  font-size: 300%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

<h1>Driving Business Value with OpenShift with</h1>
<p>RED HAT OPENSHIFT CONTAINER PLATFORM !</p>
<p>Innovation without limitation &#128513;</p>
<img src="/images/1774953250907.jpg" alt="OpenShift Image">
<h1>This is version 1 </h1>
</body>
</html>
