<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: gray;
  font-family: verdana;
  font-size: 150%;

}
p  {
  color: Black;
  font-family: courier;
  font-size: 300%;
}
body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/OpenShift-LogoType.svg/1200px-OpenShift-LogoType.svg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>
<p>Driving Business Value with OpenShift RED HAT OPENSHIFT!</p>
<img src="/images/1774884580155.jpg" alt="OpenShift Image" width="600">
<h1>This is version 1 </h1>
<p>Innovation without limitation &#128513;</p>
</body>
</html>
